<h1><%=h @user.login %></h1>

<p>Email: <%=h @user.email %></p>
<p>Timezone: <%=h @user.time_zone %></p>

<%= link_to 'Assets', user_assets_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>